# requirements.txt
dash==2.14.2
dash-bootstrap-components==1.5.0
plotly==5.18.0
pandas
numpy==1.26.2
scikit-learn
nltk==3.8.1
wordcloud==1.9.3
networkx==3.2.1
pyLDAvis==3.4.1
textblob==0.17.1
gunicorn==21.2.0